.cache/
.config/autostart
.config/coc
.config/dconf
.config/dunst
.config/EOS-greeter.conf
.config/eos-update-notifier.first_init
.config/example.picom.conf
.config/gh
.config/gtk-3.0
.config/nano
.config/pulse
.config/reflector-simple-free-params.txt
.config/rofi
.config/systemd
.config/Thunar
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4
.config/yay
.git/
.local/
.mozilla/
.npm/
.nvm/
.screenlayout/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
projects/
.Xauthority
.Xresources
.bash_history
.bash_logout
.bash_profile
.eos-wallpaper-set.history-of-wallpapers
.fehbg
.gitconfig
.profile
.xsession-errors
.yarnrc
